<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baby_attendance</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5 ">
                <form class="bg pe-3 ps-3 pt-3 pb-3 rounded shadow" style="background-color:  #B4BDFF;">
                    <div class="mb-3 text-center">
                        <h1>Babies daily tracking</h1>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" required>
                        
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input type="text" class="form-control" required>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Time in</label>
                        <input type="text" class="form-control" required>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Brought by</label>
                        <input type="text" class="form-control" required>

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Period of stay</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Half day</option>
                            <option value="1">Full day</option>
                          </select>

                    </div>
                    <div class="mb-3">
                        <label class="form-label">Time out</label>
                        <input type="text" class="form-control" required>

                    </div>
                    <div class="mb-3">
                        <label class="form-label" >Picked up by</label>
                        <input type="text" class="form-control" required>

                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>


                    <div class="mb-3 ">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                   
            </div>

        </div>
    </div>

    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>

</body>
</html>