<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sitter_attendance</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-5 ">
                <form class="bg pe-3 ps-3 pt-3 pb-3 rounded shadow" style="background-color:  #B4BDFF;">
                    <div class="mb-3 text-center">
                        <h1>Sitters daily tracking</h1>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" required>
                        
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input type="text" class="form-control" required>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Attendance status</label>
                        <input type="text" class="form-control" required>

                    </div>

                    <div class="mb-3 ">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                   
            </div>

        </div>
    </div>


    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script> 
</body>
</html>